<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.swayamjitdalai.debt-market-dashboard</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>/Users/swayamjitdalai</string>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<!-- Background jobs run from Application Support, outside protected Documents. -->
	<key>Program</key>
	<string>/Users/swayamjitdalai/Library/Application Support/DebtMarket/venv/bin/python</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/swayamjitdalai/Library/Application Support/DebtMarket/venv/bin/python</string>
		<string>-u</string>
		<string>-m</string>
		<string>app.scheduled_refresh</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/swayamjitdalai/Library/Application Support/DebtMarket/runner</string>
	<key>StartCalendarInterval</key>
	<array>
		<!-- 2 PM IST (14:00, 14:15, 14:30, 14:45) -->
		<dict><key>Hour</key><integer>14</integer><key>Minute</key><integer>0</integer></dict>
		<dict><key>Hour</key><integer>14</integer><key>Minute</key><integer>15</integer></dict>
		<dict><key>Hour</key><integer>14</integer><key>Minute</key><integer>30</integer></dict>
		<dict><key>Hour</key><integer>14</integer><key>Minute</key><integer>45</integer></dict>
		<!-- 3 PM IST (15:00, 15:15, 15:30, 15:45) -->
		<dict><key>Hour</key><integer>15</integer><key>Minute</key><integer>0</integer></dict>
		<dict><key>Hour</key><integer>15</integer><key>Minute</key><integer>15</integer></dict>
		<dict><key>Hour</key><integer>15</integer><key>Minute</key><integer>30</integer></dict>
		<dict><key>Hour</key><integer>15</integer><key>Minute</key><integer>45</integer></dict>
		<!-- 4 PM IST (16:00, 16:15, 16:30, 16:45) -->
		<dict><key>Hour</key><integer>16</integer><key>Minute</key><integer>0</integer></dict>
		<dict><key>Hour</key><integer>16</integer><key>Minute</key><integer>15</integer></dict>
		<dict><key>Hour</key><integer>16</integer><key>Minute</key><integer>30</integer></dict>
		<dict><key>Hour</key><integer>16</integer><key>Minute</key><integer>45</integer></dict>
		<!-- 5 PM IST (17:00, 17:15, 17:20) -->
		<dict><key>Hour</key><integer>17</integer><key>Minute</key><integer>0</integer></dict>
		<dict><key>Hour</key><integer>17</integer><key>Minute</key><integer>15</integer></dict>
		<dict><key>Hour</key><integer>17</integer><key>Minute</key><integer>20</integer></dict>
	</array>
	<key>StandardOutPath</key>
	<string>/Users/swayamjitdalai/Library/Application Support/DebtMarket/launchd.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/swayamjitdalai/Library/Application Support/DebtMarket/launchd-error.log</string>
</dict>
</plist>
