<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.swayamjitdalai.debt-market-dashboard</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>/Users/swayamjitdalai</string>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<!-- Background jobs run from Application Support, outside protected Documents. -->
	<key>Program</key>
	<string>/Users/swayamjitdalai/Library/Application Support/DebtMarket/venv/bin/python</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/swayamjitdalai/Library/Application Support/DebtMarket/venv/bin/python</string>
		<string>-u</string>
		<string>-m</string>
		<string>app.scheduled_refresh</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/swayamjitdalai/Library/Application Support/DebtMarket/runner</string>
	<key>StartCalendarInterval</key>
	<array>
		<!-- Closing window: 5:02 PM, 5:17 PM and 5:29 PM IST. -->
		<dict><key>Hour</key><integer>17</integer><key>Minute</key><integer>2</integer></dict>
		<dict><key>Hour</key><integer>17</integer><key>Minute</key><integer>17</integer></dict>
		<dict><key>Hour</key><integer>17</integer><key>Minute</key><integer>29</integer></dict>
	</array>
	<key>StandardOutPath</key>
	<string>/Users/swayamjitdalai/Library/Application Support/DebtMarket/launchd.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/swayamjitdalai/Library/Application Support/DebtMarket/launchd-error.log</string>
</dict>
</plist>
